<div class="container custom-container" >
  <div class="form-card">
    <div class="form-content">
      <div class="row">

        <div class="col-lg-6 left-background-form">

        </div>

        <div class="col-lg-6 right-background-form">
          <h1>Create your Developer Profile</h1>
          <%= render 'form', developer_profile: @developer_profile %>
        </div>

      </div>
    </div>
  </div>
</div>
