<div class="container bg-user-container">
  <div class="row">
    <div class="col-lg-6">
      <img class="img-dev-show bg-dev-show" src="<%= @user.photo %>">

    </div>
    <div class="col-lg-6">
      <%= @user.first_name %>
      <%= @user.email %>
      <h2>Contracts</h2>
      <div>
        <% @user.contracts.each do |contract| %>
          <p>
          <%= contract.developer_profile_id %>
          </p>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div>
</div>


<h2>
</h2>
