<div class="container mt-5">
  <%= link_to "Add message", new_contract_post_path, class: 'btn btn-agree' %>

<% @posts.each do |post| %>
  <div class="notification">

    <img class="avatar" src="<%= post.user.photo %>" />

    <div class="notification-content">
      <div class="message-flex">
        <p><%= post.message  %></p>
        <p class="ml-auto message-status">This message was sent: <%= time_ago_in_words(post.created_at) %></p>
      </div>
    </div>
  </div>
<% end %>
