<div class="container mt-5">
  <%= link_to "Add message", new_contract_post_path, class: 'btn btn-agree' %>

<% @posts.each do |post| %>
  <div class="notification">

    <img class="avatar" src="<%= current_user.photo %>" />
    <div class="notification-content">
      <p><%= post.message  %> - <%= time_ago_in_words(post.created_at) %></p>
    </div>
  </div>
<% end %>
