.btn-green {
  color: white;
  margin-top: 15px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: #1BCB7F;
  color: white;
}
