// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "form";
@import "banner";
@import "developer_profiles";
@import "button";

.banner-container{

    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),  url("https://res.cloudinary.com/dloadb2bx/image/upload/v1619880803/photo-1612194554074-81669dba235c_nd6rrz.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: -1;
}

.banner-text-content{
  padding: 30px;
}

h1{
  text-transform: uppercase;
  font-size: 48px;
  margin-top: 200px;
}

.container-bg-search{
  background-color: #384B63;
  border-radius: 20px 20px 0 0;
  height: 150px;
  margin-top: -100px;
  z-index: 1000;
}

.developer-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}

.developer-card{
  width: 250px;
  margin: 10px 0;
  border: 1px solid #E8E8E8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.developer-avatar{
  width: 100%;
}


.about-us{
  height: 500px;
  background-color: #d9d9d9;
}

.about-us-img{
  margin-top: 20px;
  margin-left: 100px;
  width: 700px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.about-us-info{
  margin-top: 125px;
}

.btn-go-online{
  text-align: center;
  padding: 5px 25px;
  width: 350px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


// SEARCH BAR

.search-box{
  padding: 40px;
}
.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  background-color: #3C6E71;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
}
