.bg-dev-container{
  width: 60%;
  margin-top: 50px;

  img {
    width: 110%;
  }
}


.img-dev-show{
  width: 100%;
}

.bg-dev-show{
  border-radius: 20px 0 0 20px;
}


.bg-user-container{
  margin-top: 50px;
  width: 70%;
}
